* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: lacquer, arial, sans-serif;

}

body {
	background-color: #000;
	min-height: 100vh;
}

h2{
	margin: 1em;
}

.instructions {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
	color: #fff;
}

 .first-ani {
	position: relative;
	font-size: 2rem;
	color: green;
	overflow: hidden;
	 animation: 2s fadeOut 4.5s linear forwards;
} 

.first-ani:before {
	content: "";
	position: absolute;
	right: -20%;
	width: 120%;
	height: 100%;
	background: linear-gradient(270deg, transparent 0%, #000 5%, #000 100%);
	animation: 3s animate 0.5s linear forwards;
} 


.second-ani{
    position: relative;
	font-size: 2rem;
	color: green;
	overflow: hidden; 
	animation: 2s fadeOut 11s linear forwards;
    opacity: 1;
} 

 .second-ani:before { 
	content: "";
	position: absolute;
	right: -20%;
	width: 120%;
	height: 100%;
	background: linear-gradient(270deg, transparent 0%, #000 5%, #000 100%);
	animation: 3s animate 7.5s linear forwards; 
}

.third-ani{
    position: relative;
	font-size: 2rem;
	color: green;
	overflow: hidden; 
	/* animation: 2s fadeOut 21s linear forwards; */
    opacity: 1;
} 

 .third-ani:before { 
	content: "";
	position: absolute;
	right: -20%;
	width: 120%;
	height: 100%;
	background: linear-gradient(270deg, transparent 0%, #000 5%, #000 100%);
	animation: 3s animate 14s linear forwards; 
}



.fourth-ani{
    /* position: absolute; */
    opacity: 0;

    animation: jumpIN 0.5s linear 17.2s forwards;
}



@keyframes animate {
	0% {
		right: -20%;
	}

	/* 50%{
        right: -120%
    } */

	100% {
		right: -120%;
	}
}


@keyframes jumpIN {
    0%{
        opacity: 0;
        transform: translate(-70%, -75%);    
    }


100%{
    opacity: 1;
    transform: translate(0%, -0%);   
}

}



@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
        display: none;
        visibility: hidden;

	}
}


/* @keyframes disappear {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
} */

.game {
	display: none;
}


.weapons{
	display: flex;
	margin: 2em 15%;
	justify-content: space-around;
	animation: enterWeapons 2s cubic-bezier(0, 0, 0, 1.23) 18s forwards;
opacity: 0;
}

.weapon{
	background-color: #000;
	border: 3px solid #fff;
	margin: 0;
	outline: none;
	padding: 2em;
	width: 20%;
}

hr.style-five {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px #fff;
	animation: enterWeapons 2s cubic-bezier(0, 0, 0, 1.23) 18s forwards;
opacity: 0;
margin: 4em;}
hr.style-five:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}


@keyframes enterWeapons {
	from{
		opacity: 0;
		transform: translateY(4em);
	}

	to{
		opacity: 1;
		transform: translateY(0);

	}
}
